body {
    margin: 0;
    font-family: sniglet;
}

html {
    scroll-behavior: smooth;
}

/*Removing the styling and margin of unordered lists*/
ul {
    list-style: none;
    padding: 0;
}


/*Navigation Bar*/
nav {
    display: grid;
    grid-template-columns: max-content 1fr 10vw max-content;
    gap: 1vw;
    grid-template-rows: 6vh;
    background-color: rgb(244, 147, 62);
    align-items: center;
}

nav ul {
    display: flex;
    gap: 3vw;
}

nav li {
    border-bottom: 3.5px solid #BF4904;
    min-width: 7vw;
    text-align: center;
}

nav a {
    color: black;
    text-decoration: none;
}

#NavLogo {
    width: 7vw;
}

/*Hero Image for Index with CTA*/
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-image: url(Images/HERO.jpeg);
    background-size: cover;
    background-position: center 80%;
}

/*Footer*/

footer {
    display: grid;
    background-color: #F4933E;
    grid-template-columns: 4fr 3fr 3fr 3fr 1fr;
    grid-template-rows: max-content 5vh;
}

footer a {
    color: black;
}

.bottom {
    display: flex;
    grid-area: 2 / 1 / 3 / 6;
    justify-content: space-between;
}