body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/*Removing the styling and margin of unordered lists*/
ul {
    list-style: none;
    padding: 0;
}


/*Navigation Bar*/
nav {
    display: grid;
    grid-template-columns: 6vw 1fr 10vw 5vw;
    grid-template-rows: 6vh;
    background-color: rgb(244, 147, 62);
    align-items: center;
}

nav ul {
    display: flex;
    gap: 3vw;
}

/*Hero Image for Index with CTA*/
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-image: linear-gradient(to bottom, rgba(244,147,62),rgba(244,147,62,0) 20%), url(Images/HERO.jpeg);
    background-size: cover;
    background-position: center 70%;
}

/*Footer*/

footer {
    display: grid;
    background-color: #F4933E;
    grid-template-columns: 4fr 3fr 3fr 3fr 1fr;
    grid-template-rows: 25vh 5vh;
}

.bottom {
    display: flex;
    grid-area: 2 / 1 / 3 / 6;
    justify-content: space-between;
}